.one{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.two{
    background: green;
    border-radius: 10px;
    width: 70%;
    height:20px ;
transition: 0.5s;
animation: flow 0.5s linear 1 normal;

}
/* .two::after{
    padding-right: 10px;
    content: "";
} */
@keyframes flow {
  100%{
    padding-right: 20px;
    }
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  width: 60%; /* Adjust based on usage */
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    #c8a2c8,         /* Lilac color */
    #c8a2c8 4px,
    transparent 4px,
    transparent 8px
  );
}
